<header>
  <hgroup>
    <h1 style="line-height: 1;">Adam Miribyan</h1>
    <h2>hello@adammiribyan.com</h2>
  </hgroup>
</header>

<ul id="projects">
  <li data-description="Красивые блоги."><%= link_to "Talks", "http://t-a-l-k-s.com" %></li>
  <li data-description="Добрые стоматологи."><%= link_to "Bree", "/bree" %></li>
  <li class="coming-soon">Tongueshape</li>
</ul>

<p class="description"></p>