<% # This template file is used in pages controller tests %>
<% title "Bree — средство управления взаимоотношениями с пациентами" %>

<section id="bree_logo">
  <hgroup>
    <h1>Bree</h1>
    <h2><%= mail_to "hello@adammiribyan.com", "Adam Miribyan" %> в партнерстве с <%= link_to "Компьютерным Миром", "http://samara.km63.ru" %>.</h2>
  </hgroup>
</section>

<div id="request_form">
  <p>Оставьте свой адрес электронной почты или номер телефона, <br />и мы свяжемся с вами, как только <strong>Бри</strong> появится в продаже.</p>
  <form class="request">
    <div style="position: relative; display: inline-block;">
      <input type="text" name="request[body]" class="request_body" id="request_body">
      <label for="request_body">Электропочта или телефон</label>
    </div>
    <span class="return-sign">↵</span>
  </form>
  <em>Бесплатный пробный период и скидка 30% первым 30 клиентам.</em>
</div>

<h1 class="definition">Bree — это простое и удобное средство управления взаимоотношениями с вашими пациентами.</h1>

<article id="who_is_it_for">  
  <h2>Для кого наше приложение</h2>
  <p>Мы ориентируемся на небольшие клиники, способные легко реагировать и развиваться. Способные фокусироваться на хороших идеях и выкинуть плохие. Способные слушать своих пациентов и отвечать им. Способные внедрить новые технологии сейчас, а не потом.</p>  
</article>

<aside id="client_feedback">
  <%= image_tag "z_8c83620c.jpg", width: 190, height: 143 %>
  <div style="padding: 0 12px 15px;">
    <hgroup>
      <h1>Светлана Кац</h1>
      <h2>Заведующая областным рентгенорадиологическим отделением СОКБ им. М.И. Калинина</h2>
    </hgroup>
    <p>Я очень давно сотрудничаю с компанией «Компьютерный Мир» и всегда довольна качеством оказываемых услуг.</p>
  </div>
</aside>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />v
