.container {
  display: block;
  position: relative;
  width: 880px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100%;
}

body.pages {
  // background-color: #d1cdc3;
  font-size: 0.75em;
  line-height: 1.5;
  background-color: #d2dfd4;    
}

p {
  font-size: 1.1666em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

h1 {
  font-size: 2em; /* 24px */
  line-height: 1.5em; /* 36px */
  margin-top: 1em;
  margin-bottom: 0.5em;  
}

h2 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 0.857em;
  margin-bottom: 0.428em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1.3333em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h6 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}

section#bree_logo {
  position: relative;
  width: 40%;
  
  h1 {
    font-family: 'Nobile', sans-serif;
    font-size: 140px;
    text-shadow: 0 1px 0 #fff;
    color: #121212;
    line-height: 1;
    margin: 0;
  }
  
  h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-left: 1.25em;
    
    a {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid #777;
      
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}

#request_form {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  width: 368px;
  background-color: #a2907d;
  color: #fff;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px; /* Firefox */
  -webkit-border-radius: 0 0 5px 5px; /* Safari, Chrome */
  padding: 7px 12px 15px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  
  p {
    font-size: 1em;
    margin-bottom: 0.5em  !important;
  }
  
  em {
    font-size: 0.9em;
    padding-top: 3px;
  }
  
  span.return-sign {
    display: inline-block;
    margin-left: 0.25em;
    font-size: 1.6667em;    
  }
  
  input[type="text"] {
    border: 1px solid #999;
    font-size: 1.5em;
    color: #222;
    margin: 0;
    max-width: 300px;
    min-width: 300px;
    padding: 7px 10px;
    width: 300px;
    -moz-box-shadow: inset 0 1px 2px #AAA;
    -webkit-box-shadow: inset 0 1px 2px #AAA;
    -o-box-shadow: inset 0 1px 2px #AAA;
    box-shadow: inset 0 1px 2px #AAA;
    
    &:focus {
      outline-color: #AD141E;
    }
  }
  
  label {
    color: #888;
    font-size: 1.5em;
    font-weight: normal;
    left: 12px;
    top: 8px;    
    position: absolute;
    z-index: 1;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0.0833em;
  }
}

h1.definition {
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
  font-size: 3.1666em;
  margin: 1.5em 0 1em;
  color: #232323;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.1;
  border-top: 3px double #a2907d;
  padding: 0.75em 0;
}

ul#benefits {
  position: relative;
  width: 65%;
  float: left;
  margin: 0 -30px 0 0;
  font-size: 1.16667em;
  line-height: 1.3;
  
  li {
    display: inline-block;
    zoom: 1;
    font-size: 1em;
    letter-spacing: normal;
    width: 45%;    
    margin: 0 25px 2em 0;
    white-space: normal;
    vertical-align: top;
    
    .image {
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.5);
      -moz-border-radius: 5px; /* Firefox */
      -webkit-border-radius: 5px; /* Safari, Chrome */
      border-radius: 5px; /* CSS3 */
      padding: 5px;
      width: 146px;
      height: 146px;
      margin-left: 25px;
    }
    
    p {
      font-weight: bold;
      font-size: 1.116em;
      margin-bottom: 1em;
      background: url('/assets/check.png') top left no-repeat;
      padding-left: 25px;
    }
  }
}

aside#client_feedback {
  position: relative;
  float: right;
  width: 190px;
  background-color: #a2907d;
  color: #fff;
  -moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius: 3px; /* CSS3 */
  
  img {
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0; /* Firefox */
    -webkit-border-radius: 3px 3px 0 0; /* Safari, Chrome */
    border-radius: 3px 3px 0 0; /* CSS3 */
  }
  
  h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.35em;
  }
  
  h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
  
  p {
    border-top: 1px solid #d2dfd4;
    padding-top: 0.5em;
    margin-top: 0.75em;
    line-height: 1.1;
  }
}

.clear {
  clear: both;
  zoom: 1;
  display: block;
}

hr.double {
  border-top: 3px double #A2907D;
}

section#contacts {
  margin-bottom: 2.5em;
  
  ul#contacts_list {
    list-style: none;
    position: relative;
    float: left;
    width: 40%;
    
    li {
      font-size: 1.1667em;
      line-height: 1.7;
      
      .label {
        font-weight: bold;
      }
    }
  }
  
  .map {
    display: block;
    position: relative;
    float: right;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    padding: 5px;
  }
}

footer {
  background-color: #A2907D;
  padding: 5px 10px;
  border-top: 1px solid #89745D;
  font-size: 0.9em;
  color: #5B534B;
  text-align: center;
  
  p {
    margin: 0.25em;
  }
}