body.posts {
  .container {
    width: 620px;
  }
  
  header {
    h1.logo {
      background: url("/assets/getsome_logo.jpg") no-repeat;
      width: 500px;
      height: 85px;
      text-align: center;
      text-indent: -99999px;
    }
  }
}