p {
  font-size: 1.1666em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

h1 {
  font-size: 2em; /* 24px */
  line-height: 1.5em; /* 36px */
  margin-top: 1em;
  margin-bottom: 0.5em;  
}

h2 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 0.857em;
  margin-bottom: 0.428em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1.3333em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h6 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}
