body.welcome {
  header {
    h2 {
      font-size: 1em;
      font-weight: normal;
    }
  }
  
  ul#language {
    position: relative;
    display: block;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    
    li {
      font-size: 0.75em;
      
      a {
        display: inline-block;
        padding: 0 1px;
        
        &:link, &:visited {
          color: #888;
          text-decoration: none;
          border-bottom: 1px solid #888;
        }
        
        &:hover {
          border-radius: 2px;
          color: #222;
          background-color: #f7eec6;
          text-decoration: none;
          border-color: #f7eec6;
        }
      }
    }
  }
  
  ul#projects {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin-top: 3.75em;
    padding: 0;
    
    
    li {
      display: inline-block;
      margin-right: 1.75em;
      
      .date {
        display: block;
        font-size: 0.75em;
        color: #999;
        letter-spacing: 1px;
        text-align: left;
        padding: 0 0 0.5em 1px;
      }
      
      a {
        display: inline-block;
        padding: 0 1px;
        
        &:link, &:visited {
          color: #222;
          text-decoration: none;
          border-bottom: 1px dotted #222;
        }
        
        &:hover {
          color: white;
          background-color: #222;
          text-decoration: none;
          border: none;
        }
      }
      
      &.coming-soon {
        color: #999;
      }
      
      &.caption {
        color: #222;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 0.75em;
      }
    }
  }
  
  p.description {
    display: none;
    color: #222;
    font-size: 0.91667em;
  }
}
